# AWS SBG USJ Environment Variables
PORT=3000
NODE_ENV=development

# Future AWS Integration Configuration
# AWS_REGION=ap-south-1
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
# SES_SOURCE_EMAIL=
# DYNAMODB_TABLE_NAME=
